@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.hero-image {
    text-align: center;

    }
    .mainContainer{
        scroll-snap-align: start;

    }


.mainContainer::after {
    
    scroll-snap-align: start;
    height: 100%;
    width: 100%;;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.25) 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.25) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;

    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    position: absolute;
    top:0;
    left:0;
    content: "";
  }

  .tinted-image1{
      position: absolute;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      opacity: 0;
      
  }

  .selector{
        font-family: 'Russo One', sans-serif;
        font-size: 130px;
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 63%;
        transform: translate(-120%, -50%);
        text-align: left;
        color: white;
        margin: 0;
        padding: 0;
        line-height: 90%;
      

      
  
  a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 0;
  }


  a:hover{
    color: #000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    

  }

  a::before {
    content: "";
    position: relative;
    width: 100vw;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  a:hover::before {
    transform: scaleX(1);
  }
  }

  h4{
      font-size: 20px;
      line-height: 0%;
  }

  .carred{
    color: red;
    font-size: 25px;
    padding: 15px;
  }
  .iconDiv{
    display: flex;
    flex-direction: row;
  }
  @media only screen and (max-width: 600px) {
    .selector{
      left:67vw;
      font-size:30px;
      padding-top: 20vh;
      h4{
        font-size: 15px;
      }
    }
    .carred{
      font-size: 22px;
    }
  }